/* || General setup */

/* Colors
Black = #000000 
White = #FFFFFF
Harlequim = #4BEE00
Steel Pink = #C000D5
Mimi Pink = #FFD9E8
Celeste = #C7FCF5
*/

/* Font */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: monospace;
}

body {
}

.logo {
    display: flex;
}

.logo li {
    padding: 10px;
}

.logo a {
    color: white;
    font-size: 25px;
}

.logo a:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.navbar ul { 
    display: flex;
    flex-direction: row;
    padding: 0 1.0% 0 1.0%;
}

.navbar li {
    text-decoration: none;
}

.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.9em;
    text-shadow: 2px 2px 5px black;
    padding: 10px 10px 0px 10px;
    margin: 20px 20px 20px 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.1);
    box-shadow: inset 0 -2px 0px 0px #fff;
}

.home {
    text-align: center;
}

.home > .notebook {
    width: 50%;
}

.texts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 100%;
}

.texts > h1, .texts > h2{
    width: 360px;
    position: relative;
    color: hsl(0, 0%, 88%);
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    overflow: hidden;
    border-right: 2px solid transparent;
    white-space: nowrap;
    text-shadow: 3px 3px 2px black;
}

.texts > h1 {
    font-size: 20px;
    letter-spacing: 5px;
    animation: typewriter1 1.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms 6;
}

.texts > h2 {
    font-size: 15px;
    letter-spacing: 1px;
    animation: typewriter2 1.5s steps(44) 3.5s 1 normal both, blinkTextCursor 500ms infinite 3s;
}

.perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.5% 10% 5.5% 10%;
    gap: 0 170px;
    background-repeat: no-repeat;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(6, 24, 38, 0.5)), url('../images/background.jpg');
    background-size: cover;
    background-position: top;
}

.text_user h2 {
    font-size: 3.2em;
    text-transform: uppercase;
    height: 85px;
}

.text_user p {
    width: 530px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 1.3em;
    padding: 0.5%;
}

.perfil .image_user > img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    box-shadow: 0px 0px 10px 5px #061826;
}

.text_user, .image_user {
    padding: 10% 0 0 0;
}

.work {
    text-align: center;
}

.work h2 {
    font-size: 2.0em;
    color: #80808080;
    letter-spacing: 1px;
    margin-top: 5%;
    margin: 60px 0 10px;
}

.work h2 span {
    font-size: 1.8em;
    color: #357EEF;
    padding: 2% 3%;
    font-weight: 400;
}

.work #work_services {
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.work ul {
    display: flex;
    justify-content: center;
    gap: 0 50px;
    margin: 60px 0 10px;
}

.work li {
    font-size: 5.0em;
}

.work #work_title_apps {
    font-size: 2.5em;
    margin: 5px 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 10;
}

.work #work_apps {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px 0;
    font-family: Courier, monospace;
}

.work #work_detail_apps {
    width: 450px;
    margin: 0 auto;
    font-size: 1.2em;
}

.projects {
    display: flex;
    background-color: #357EEF;
    margin: 10% 0 15%;
}

.list_projects {
    display: flex;
    background-color: black;
}

.list_projects p {
    margin: 1px 0;
}

.projects a {
    text-decoration: none;
    width: auto;
    background-size: 100% 100%;
}

.item_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    position: relative;
    width: 285px;
    height: 100%;
}

.item_list::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#instruments_store::before {
    background-image: url('../images/screenshots/instrument-store.png');
}

#time_to_answer::before {
    background-image: url('../images/screenshots/time-to-answer.png');
}

#cripto_wallet::before {
     background-image: url('../images/screenshots/cripto-wallet.png');
}

.item_list * {
    visibility: hidden;
    z-index: 1;
}

.item_list:hover * {
    visibility: visible;;
}

.item_list:hover::before {
    opacity: .6;
}

.item_list p {
    color: white;
    text-shadow: 1px 1px 5px black;
}

.projects #projects_title {
    text-align: left;
    color: white;
    margin: 80px 90px 95px 45px;
}

.projects #projects_title p {
    font-size: 0.8em;
    letter-spacing: 5px;
    font-family: Courier, monospace;
    text-transform: uppercase;
}

.projects h3 {
    font-size: 3.0em;
    font-family: "Anonymous Pro";
    font-weight: 300;
    margin: 10px 0 20px;
}

.projects i {
    font-size: 2.0em;
    margin: 25px 0 0 40px; 
    transform:scale(1.3,1);
}

.projects .tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
}

.projects .tags li {
    color: white;
    background-color: #357EEF;
    padding: 5px;
    margin: 5px 0 8px;
    border-radius: 50px;
    font-size: 0.9em;
    white-space: nowrap;
}

.projects .list_projects_detail {
    font-size: 1.2em;
    color: white;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 35px;
    padding: 20px 30px;
}

.skills {
    position: relative;
    text-align: center;
    padding: 0 10% 1.5% 10%;
    margin: 0 0 1% 0; 
}

.skills h3 {
    text-transform: uppercase;
    font-family: "Anonymous Pro";
    letter-spacing: 4px;
    font-size: 1.5em;
    margin: 45px auto 45px auto;
    border-top: 2px solid #000; 
    border-bottom: 2px solid #000; 
    line-height: 0.0em;
}

.skills h3 span { 
    background: #fff; 
    padding: 0 15px; 
}

.skills ul {
    display: flex;
    justify-content: center;
    gap: 0% 5%;
    list-style: none;
}

.skills li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90px;
    height: 90px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 6px 0.1px #061826;
}

.skills li:hover {
    box-shadow: 0px 1px 9px 0.1px #061826;
}

.skills a {
    font-size: 5.0em;
    text-shadow: 2px 2px 3px #000;
    padding: 0 5% 0 5%;
}

.projects p {
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 1.3em;
    padding: 0.5%;
}

.line {
    background: black;
    padding: 3px;
}

.contacts {
    padding: 1.5% 10% 7.5% 10%;
    background: linear-gradient(0deg, black 10%, #061826 50%, #061826 100%);
    color: white;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.contacts .list_contacts {
    display: flex;
    gap: 10px 50px;
    font-size: 1.1em;
}

.contacts h3 {
    font-size: 3.0em;
    margin: 1% 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 45px auto 45px auto;
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff; 
    line-height: 0.0em;
}

.contacts #span_contacts {
    background-color: #061826; 
    padding: 0 15px; 
}

.list_contacts {
    display: flex;
    justify-content: flex-end;
    margin: 6.2% 0;
}

.list_contacts h4 {
    text-transform: uppercase;
    color: #357EEF;
    letter-spacing: 1px;
    font-size: 1.4em;
}

.list_contacts_li {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px 0;
    margin: 0 14px;
}

.list_items1 li, .list_items2 li {
    font-size: 1.4em;
}

.list_items1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px 0;
}

.list_items2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px 0;
}

.list_items2 li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px 10px;
    text-transform: uppercase;
}

.list_items1 a {
    font-weight: 300;
}

.list_items2 div {
    color: black;
    font-size: 0.8em;
    text-align: center;
    padding: 12px 12px;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
}

.list_items2 span {
    font-size: 0.7em;
    font-weight: 300;
}

/* .active, .icon, .fa, .fa-bars { */
/*     background-color: blue; */
/*     display: none; */
/*     overflow: hidden; */
/*     visibility:hidden; */
/* } */

/* || Keyframes */

@keyframes typewriter1 {
    from {
        width: 0;
    }
    to {
        width: 355px;
    }
}

@keyframes typewriter2 {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: transparent;
    }
    to {
        border-right: 2px solid hsl(0, 0%, 80%);
    }
}

@keyframes disappear {
    to {
        animation-name: none;
    }
}

/* || mediaquery */

@media screen and (max-width: 768px) {
    .perfil {
        display: block;
        width: 80vw;
        margin: auto;
    }

    .navbar {
        display: flex;
        width: 80vw;
        margin: -5px 0 20px -36px;
        padding: 0 72px 20px 0;
        background-color: #005da4;
        box-shadow: 0px 2px 10px black;
    }

    .navbar #myLinks {
        display: none;
        padding: 0 0 0 0;
        margin: 35px 180px 0 0;
        font-size: 1.5em;
    }

    .navbar a {
        font-size: 1.1em;
        padding: 5px 5px 0px 5px;
        margin: 5px 5px 5px 5px;

        color: white;
        padding: 0;
        margin: 3px;
        display: block;
    }

    .navbar a.icon {
        display: flex;
        gap: 0 10px;
        position: absolute;
        right: 0;
        font-size: 1.5em;
        padding: 5px 10px;
        text-align: center;
        border-radius: 10px;
    }

    .navbar li {
        padding: 25px 0 0 0;
    }

    .navbar li .first {
        padding: 0;
    }

    .active {
        display: none;
        overflow: hidden;
        visibility:hidden;
    }

    .texts > h1 {
        font-size: 14px;
    }

    .texts > h2 {
        font-size: 14px;
    }

    .text_user h2 {
        font-size: 2.1em;
        height: 40px;
    }

    .text_user p {
        width: auto;
        text-align: justify;
        word-spacing: 0px;
        line-height: 1.1;
        letter-spacing: 1px;
        font-size: 1.0em;
        padding: 0.5%;
    }

    .skills h3 {
        font-size: 1.0em;
        margin: 25px auto 25px auto;
    }

    .skills ul {
        gap: 0% 4%;
    }

    .skills li {
        width: 30%;
        height: 50px;
        padding: 0%;
        font-size: 0.6em;
    }

    .skills a {
        font-size: 2.1em;
        text-shadow: 1px 1px 3px #000;
    }

    .work h2 {
        font-size: 1.0em;
    }

    .work #work_services {
        font-size: 0.8em;
    }

    .work li {
        font-size: 2.5em;
    }

    .work #work_title_apps {
        font-size: 1.8em;
    }

    .work #work_apps {
        font-size: 0.8em;
    }

    .work #work_detail_apps {
        width: 100vw;
        font-size: 0.9em;
    }

    .projects {
        height: 200px;
    }

    .item_list {
        padding: 0;
        width: 100px;
        height: 100%;
    }

    .projects #projects_title {
        margin: 5px 5px 20px 5px;
    }

    .projects #projects_title p {
        font-size: 0.5em;
        letter-spacing: 4px;
    }

    .projects h3 {
        font-size: 1.2em;
    }

    .projects i {
        font-size: 1.0em;
    }

    .contacts .list_contacts {
        gap: 10px 10px;
        font-size: 0.4em;
    }

    .contacts h3 {
        font-size: 1.5em;
        margin: 25px auto 25px auto;
    }

    .list_contacts_li {
        gap: 10px 0;
    }

    .list_items1 {
        gap: 5px 0;
    }

    .list_items2 {
        gap: 5px 0;
    }

    .list_items2 div {
        padding: 2px 2px;
        width: 9px;
        height: 9px;
    }
}

/* || typography */
